html {
    font-size: 62.5%;
}

/* 1rem = 10px */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/*Estilos del Body general*/

body {
    background-color: #fffdf2;
    margin: 0;
    padding: 0;

    .container,
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
}

html,
body {
    overflow-x: hidden;
}

/* Logo Principal */

.logo-principal {
    max-width: 100%;
    height: auto;
}

/*Estilos de Header general*/

.estilo-header {
    background-color: #ffb24d;

}

.buscador-form .form-control {
    font-size: 1.4rem;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 30px 0 0 30px;
}

.buscador-form .btn {
    border: none;
    border-radius: 0 30px 30px 0;
    background-color: #fff;
    padding: 0.8rem 1.2rem;
    transition: background-color 0.3s ease;
}

.buscador-form .btn:hover {
    background-color: #ffb24d;
}

/* Estilos del Nav */

.menu-nav {
    text-align: center;
}

.barra-botones {
    display: flex;
    justify-content: space-around;
}

.barra-botones a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.6rem;
}

.nav-link {
    color: white !important;
  }
  
  .nav-link:hover {
    background-color: #333333;
    border-radius: 10px;
  }

/* Promociones */

.container-prom {
    margin-bottom: 20px;
    border-bottom: 1px solid #333333;
    padding: 30px;
}

.caja-prom {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.titulos-prom {
    color: #313131;
    text-decoration: none;
    font-weight: bolder;
    font-size: 15px;


}

.categorias img {
    border-radius: 100%;

}

.categorias h5 {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color: #313131;

}

/*Estilos de Productos*/

.prod-titulo {
    margin: 4%;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.caja-producto:hover {
    border-color: #ffb24d;
}

.h-card {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.text-precio {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 800;
    color: #ff9811;
}

.botn-precio {
    margin: 0px;
    background-color: #ffb24d;
    border-color: #ffb24d;
    font-size: 15px;
    font-weight: 600;
}

.botn-precio:hover {
    background-color: #ffa023;

    border-color: #ffa023;
}

/*Estilos de Marcas*/

.marca a {
    display: flex;
    flex-direction: row;
}

.caja-img {
    margin: 20px;
}

.marca .caja-img {
    max-width: 100%;
    height: auto;
    padding: 1rem;
}

/* Estilo contacto */

.form-section {
    max-width: 600px;
    margin: 3rem auto;
    padding: 2rem;
    background-color: #ffffff;
    box-shadow: 0 0 10px #0000001a;
    border-radius: 10px;
}

.form-section h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    color: #ff9811;
}

.form-label{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bolder;
}

.form-control, textarea {
    border-radius: 10px;
    padding: 0.75rem 1rem;
}

.btn-enviar {
    font-family: "Montserrat", sans-serif;
    background-color: #ffb24d;
    border: none;
    padding: 0.75rem 2rem;
    font-weight: bold;
    font-size: 12px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.btn-enviar:hover {
    background-color: #ffa023;
}

/*Estilos de Footer general*/

.footer-main {
    background-color: #d69138;

}

.footer-box-section {
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: white;

}

.lista-footer a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: medium;
}

.lista-footer li {
    padding: 5px;
    margin: 5px;
}

ul {
    list-style-type: none;

}






/* Responsive mobile */

@media (max-width: 500px) {
    .header .row {
        text-align: center;
    }

    .buscador-form {
        width: 90%;
    }
}